<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <title>Search By</title>
  </head>
  <body>
    <div class="container">
      <h1 class="center-align">
        My Contacts
      </h1>
      <input type="text" id="filterInput" placeholder="Search Names...">
      <ul id="names" class="collection with-header">
        <li class="collection-header">
          <h5>A</h5>
        </li>
        <li class="collection-item">
          <a href="#">Abe</a>
        </li>
        <li class="collection-item">
          <a href="#">Alan</a>
        </li>
        <li class="collection-item">
          <a href="#">Ari</a>
        </li>
        <li class="collection-item">
          <a href="#">Alex</a>
        </li>
        <li class="collection-header">
          <h5>B</h5>
        </li>
        <li class="collection-item">
          <a href="#">Bill</a>
        </li>
        <li class="collection-item">
          <a href="#">Bob</a>
        </li>
        <li class="collection-item">
          <a href="#">Bradill</a>
        </li>
        <li class="collection-item">
          <a href="#">Bonny</a>
        </li>
        <li class="collection-header">
          <h5>C</h5>
        </li>
        <li class="collection-item">
          <a href="#">Clint</a>
        </li>
        <li class="collection-item">
          <a href="#">Carry</a>
        </li>
        <li class="collection-item">
          <a href="#">Carl</a>
        </li>
        <li class="collection-item">
          <a href="#">Charlie</a>
        </li>
      </ul>

    </div>

    <!-- Java Script Code-->
    <script>
    // Get input element
    let filterInput = document.getElementById("filterInput")
    // Add event listener
    filterInput.addEventListener("keyup", filterNames);
    // this is my 'filterNames function()'
    function filterNames(){
      // Grab the value of the input
      let filterValue = document.getElementById("filterInput").value.toUpperCase();

      // Get names ul
      let ul = document.getElementById("names");
      // Get li from uls
      // querySelectorAll function that allows to grab by classes
      let li = ul.querySelectorAll("li.collection-item");
      // The items are now in an array, and we want to loop through them
      for(let i = 0;i < li.length;i++){
        let a = li[i].getElementsByTagName("a")[0];
        // If matched
        if(a.innerHTML.toUpperCase().indexOf(filterValue) > -1){
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }

      }
    }


    </script>
  </body>
</html>
