<% @issues.each do |issue|%>
<div class="post_wrapper">
  <h2 class="title"> <%= link_to issue.title, issue %></h2>
  <p class="date"> <%= issue.created_at.strftime("%B, %d, %Y") %> </p> 
</div>

<% end %>
